<main-header></main-header>
<div id="login-page">
	<div class="grid">
		<div class="col-1-3 mobile-col-1-1">
			<tabset justified="true">
		        <tab heading="Login"><login-form></login-form></tab>
		        <tab heading="Register"><register-form></register-form></tab>
		    </tabset>
		</div>
		<div class="col-6-12 push-1-12 hide-on-mobile">
			<div class="large-light">
				Zone Business Portal
			</div>
			<div class="regular-light">
				Zone is a small team of college students dedicated to keeping students eyes off their phones and on their books. By rewarding students for positive study habits, Zone also offers businesses that cater to college students the opportunity to both market to and analyze the purchasing patterns of their most important consumers.
			</div>
		</div>
	</div>
	
</div>

<!--
	<div class="col-1-2 mobile-col-1-1" align="center">
			<login-form></login-form>
		</div>
		<div class="col-1-2 mobile-col-1-1" align="center">
			<register-form></register-form>
		</div>
		-->